body
  {
    color:rgb(0, 0, 0);
    background:rgba(40, 63, 61, 0.366);
  }

  .heading
  {
    width: 80%;
    font-size: 22px;
  }

  .name_of_objects  {
    color: yellow;
  }

  #camera
{
  border: 2px dashed black;
  width: 350px;
  height: 300px;
}

#result_object_name
#result_object_accuracy
{
	color: yellow;
}